<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PortEngine.Properties.Settings>
            <setting name="userDisplayName" serializeAs="String">
                <value>Player</value>
            </setting>
            <setting name="userBalance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userSecurityLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="userPowerLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="storylineStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hijack1EventCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chatter1EventCompleted" serializeAs="String">
                <value>False</value>
            </setting>
        </PortEngine.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PortEngine.Properties.Settings>
            <setting name="graphicsFriendly" serializeAs="String">
                <value>False</value>
            </setting>
        </PortEngine.Properties.Settings>
    </applicationSettings>
</configuration>